@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
 
}

p {
	line-height: 1.6;
 
}

.navigation {
	display: flex;
	justify-content: space-between;
	background: white;
	color: #B7410E;
	padding: 5px 0px 0px 5px;
}
.navigation h1 {
  color: #FF7900;
  text-transform:uppercase;
  padding:0px;
  margin-top:5px;
}


.navigation img {
	flex: 1;
	margin: 10px;
	width: 100%;
  border:20px solid red !important;
}

.navigation i {
	flex: 1;
	text-align: right;
  color:black;
	font-size: 35px;
  
}
.navigation .desktop-nav {
  display:none;
  list-style-type: none;
}

.Hero {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100vh;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
  /*
  -webkit-filter: brightness(40%);
	filter: brightness(40%);
  */
}



.Hero-content {
	position: relative;
	font-family: "Monserrat", sans-serif;
	color: white;
	text-align: center;
	margin: 0.625rem;
	padding: 20px;
}

.Hero-content h1 {
	/* not sure if the h1 looks better without the letter spacing o with, also i want to create more padding for the content around the image*/
	letter-spacing: -0.09em;
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 30px;
	color: white;
}

.Hero-content p {
	letter-spacing: -0.025em;
	line-height: 2;
  color:white;
}

.Hero-content button {
	background-color: #FF7900;
	border: none;
	color: white;
	font-weight: 600;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	margin-top: 30px;
	text-transform: uppercase;
	cursor: pointer;

  
}
.slides-btn {
 margin-top:10rem;

}
.slides-btn i {
  margin:20px;
  cursor:pointer;
  color:white;
}


/* Services offered section */
.services {
	margin-top: 100px;
	text-align: center;
	padding: 20px;
}
.services img {
  width:100%;
  margin-bottom:1rem;
  /*Might change this later*/
  border-radius: 0.5rem;
}
.services.card:first-child {
  padding:30px;
}
.services .card:first-child h1{
  padding:25px;
  font-weight:500;
}
.services .card:first-child button {
  width:50%;
  border:3px solid black;
  text-transform:uppercase;
  padding:10px;
  cursor:pointer;
  background:white;
  font-weight:600;
}
.services .cards {
    display:block !important;
  }

.services .cards .card {
    width:100%;
  }

.services .card {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 40px;
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
 
.services .card h3 {
	
	color: #FF7900;
	margin-bottom: 10px;
	text-transform: uppercase;
  font-size:20px;
 
}

.services .card p {
	letter-spacing: 0.05em;
	line-height: 1.625;
	padding: 10px;
}

.services .card i {
	color: #FF7900;
	margin-bottom: 20px;
	font-size: 45px;
}

.projects {
	text-align: center;
	margin-top: 150px;
	padding: 20px;
}
.projects .filter-desktop {
  display:none;
}

.projects h1 {

	color: black;
	text-transform: uppercase;
  
}
.projects h1 span {
  color:#FF7900;
}
.projects p {
	line-height: 1.6;
	padding: 15px;
  text-align:justify;
}


/*What im working on now*/

.project-photo {
	background-position: center;
	height: 300px;
	margin-bottom: 50px;
  
}
.projects .experience .textured {
  width:100%;
  background-image: url('https://images.unsplash.com/photo-1606075920539-565e9f1de54c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); 
        background-repeat: repeat; 
       background-position: center; 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        margin-top: 200px; 
        font-size: 300px; 
        text-align: center; 
        overflow:hidden;
        font-weight: bold; 
        text-transform: uppercase; 
        font-family: 'Steelfish Rg', 'helvetica neue', 
                    helvetica, arial, sans-serif; 
        font-weight: 800; 
        -webkit-font-smoothing: antialiased; 
}
.projects h1 {
  letter-spacing:normal;
}
.outer-cont {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.inner-cont {
	text-align: center;
	text-transform: capitalize;
	width: 50%;
	margin: 0 auto;
	background: white;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
}

.inner-cont i {
	font-size: 22px;
  color:#A9A9A9 
}

.inner-cont h4 {
	margin-top: 10px;
  color:#FF7900;
  padding:3px;
}

.hvr-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
	background-color: #cc5f00;
	color: white;
}


.filter-container {
  margin-top:30px;
  margin-bottom:100px;

  width:100%;
}
.filter-button {
  width:50%;
  border:2px solid black;
  margin:0 auto;
  text-transform:uppercase;
  padding:10px;
  position:relative;
  cursor:pointer;
}
.filter-button i {
  margin-left:8px;
}
.hidden-menu {
  display:none;
}
.filter-menu {
  display:block;
  margin:0 auto;
  margin-top:20px;
  padding:20px;
  width:100%;
  position:absolute;
  background:white;
  border:3px solid white;
 	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter-menu button {
  display:block;
  width:100%;
  background-color: white;
	border: none;
	color: #FF7900;
	font-weight: 600;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
}
.projects .experience button {
  all:unset;
  padding: 10px 22px;
  background:#FF7900;
  color:white;
  cursor: pointer;

}

/* Testimonial Section */

.testimonial {
    
    margin-bottom:10rem;
    margin-top:10rem;
    padding:10px;
  }

.testimonial h1 {
    text-align:center;
    margin-bottom:3rem;
    font-size:25px;
  }
.testimonial span {
   color:#FF7900;
  }

.testimonial h1 {
  text-align:center;
}
.testimonial h1 span {
  color:#FF7900;
}
.testimonial .monial-card {
  height:auto;
  margin-bottom:3rem;
  padding:10px;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width:100%;
}
 .testimonial .header {
     display:flex;
  }
  .testimonial .header .inner {
    align-items: center;
    flex:1;
    display:flex;
    padding-top:10px;
  }
  .testimonial .header .inner div {
    padding-top:10px;
    padding-left:5px;
  }

  .testimonial i {
    font-size:50px;
    margin:10px;
    color:#FF7900;
  }
  .testimonial .content {
      padding:20px;
      height:auto;
  }

/* Footer Section starts here */

.footer {
  width:100%;
  height:auto;
  background:#1d232f;
  color:white;
  text-align:left;
}
.footer .text {
  display:inline-block;
  padding:1rem;
  margin-top:5rem;
}
.footer .text p {
  margin-top:15px;
}

.footer .contact-methods {
  display:block;
  padding:1rem;
}

.sub-parent {
  display:flex;
    padding:15px;
  border-bottom: 1px solid gray;
}
.sub-parent div {
   flex:1;
}
.sub-parent h3 {
  color:#FF7900;
  margin-top:10px;
  text-transform:uppercase;
}
.sub-parent span {
  display:block;
}






/*Contact form input felds start here */
.footer {
  height:100%;
}
.footer .contact-form {
 padding:0px;
}
.footer .social-links {
  display:flex;
  justify-content:center;
}
.footer .social-links div i {
 font-size:30px;
 cursor:pointer;
}
.footer .contact-form input {
width:100%;
margin-bottom:20px;

}
.footer textarea {
  width:100%;
}
.footer input {
  padding:10px;
}
.footer button {
  background-color: #FF7900;
  margin-top:10px;
  border: none;
  color: white;
  cursor:pointer;
  padding: 15px 32px;
  text-align: center;
  text-transform:uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition:0.2s;
}
  .footer button:hover{
   background:white;
    border:1px solid #FF7900;
    color:#FF7900;
}

  .footer span {
    color:#FF7900;
  }
  .footer .row {
    display:flex;
    flex-direction:column;
    padding:20px;
    margin-bottom:2rem;
    margin-top:2rem;
  }
  .footer .row:nth-child(2) h1{
    margin-bottom:2rem;
  }
  .footer .row:nth-child(3){
    display:none;
  }
  .footer .row div {
    margin-bottom:10px;
    padding:10px;
  }
  .footer .row h1 {
    text-align:center;
    font-size:30px;
  }
  .footer .row h2 span {
    color:#FF7900;
    font-size:30px;
    text-transform: uppercase;
  }
  .footer .row h3{
    display:inline-block;
    color:#FF7900;
    text-transform:uppercase;
   
  }
  .footer .row .contact-links {
    display:flex;
    border-bottom:1px solid white;
    padding:10px;
    color:white;
  }
  .footer .row .contact-links h3 {
    flex:1;
  }
  .footer .row .contact-links span {
    flex:1;
    color:white;
  }
   .footer .row ul {
    list-style-type:none;
  }
  .footer .row ul li{
    cursor:pointer;
    font-size:18px;
    padding:1rem;
    border-bottom:1px solid gray;
    text-align:justify;
    transition:0.2s;
  }
  .footer ul li:hover{
    color:#FF7900; ;
  }
@media (min-width:481px)  { 
  .services {
    padding:2rem;
  }
  .projects {
    padding:1.5rem;
  }
 }

 @media (min-width:580px)  { 
   .services .cards {
     margin-top:1rem;
    display:flex !important;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  .services .cards .card {
    flex-basis:45%;
    height:auto;
    
  }
   .gallery-parent {
     display:flex;
     flex-wrap:wrap;
     justify-content:space-between;
   }
   .project-photo {
    flex-basis:48%;
   }
   
  }
  


@media (min-width:801px)  { 
  .services .img-cont img {
    width:50%;
    margin-bottom:2rem;
  }
  .testimonial .flex-parent {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  .testimonial .flex-parent .monial-card {
    flex-basis:47%;
  }
 }




@media (min-width:1025px) { 
  
  .testimonial .flex-parent .monial-card {
    margin-top:4rem;
    
  }
}
